*{
    font-family: 'Abel', sans-serif;
    font-size: 24px
}
.side-nav{
    width: 33rem;
    /* background-color: rgb(243, 237, 230); */
}

.userSide{
    background-color: rgba(53, 131, 143, 0.747);
}
